<a href="https://colab.research.google.com/github/fdluiuc/lecture-notebooks/blob/master/01-python-overview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This course notebook is based upon material from:


1.   <https://colab.research.google.com/notebooks/intro.ipynb>
2.   <https://colab.research.google.com/notebooks/basic_features_overview.ipynb>
3. <https://colab.research.google.com/notebooks/markdown_guide.ipynb>

# Cells
Colab/Jupyter Notebooks are a series of cells combined together. Each cell may contain either **text** or **code**. To edit a cell, **double-click** on the cell. 

**Text** may be stylized using [markdown](https://colab.research.google.com/notebooks/markdown_guide.ipynb). **Code** must be written in the runtime language associated with the notebook. The exception to this rule is initializing system commands. More later!

To view all shortcuts available in Google Colab press: `Cmd/Cntrl` + `M` + `H`

## Text Cells

Within a **text cell**, [LaTeX](http://www.latex-project.org/) and [markdown]() can be used. As you type, there will be a preview appearing on the far right. 

Recall, the different LaTeX styling equation:

- **Inline:** `$c = \sqrt{a^2 + b^c}$` becomes $c = \sqrt{a^2 + b^c}.$
- **Display mode:** `$$c = \sqrt{a^2 + b^c}$$` becomes $$c = \sqrt{a^2 + b^c}.$$

## Code Cells
Below is a **code cell**. Once the toolbar button indicates CONNECTED, click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** to run the cell and insert a new code cell immediately below it.

There are additional options for running some or all cells in the **Runtime** menu. Additional keyboard shortcuts can be found by calling the one-keyboard-shortcut that rules them all: **Cntrl/Cmd** + **M** + **H**

In [22]:
try:
    from google.colab import drive
    print("We're on Google Colab! =)")
except:
    print("We're not using Google Colab... :(")

We're on Google Colab! =)


# Overview of the Python language

Example assignment

In [0]:
# Declare variables
x = 1
y = 2

In [0]:
# Add values 
x + y

3

In [0]:
# Combine values
z = [x, y]

In [0]:
# Output values in z
print(z)

[1, 2]

In [0]:
# Add up all values
sum(z)

3

## Errors
There shalt be errors and that's okay.

In [21]:
# Number of Students (lower case)
n_students = 97 

# Show the value of `n_students`
n_students
# [1] 97

# Try retrieving the value with a variable name in UPPER CASE
N_STUDENTS

NameError: ignored

# Data Types

In [0]:
# Numeric / floating point, e.g. -77.391, -8.542, 0.0, 10.5, 47.66
num_val = 3.14

# Integer / whole numbers, e.g. -58, -1, 0, 3, 99
int_val = -2

# Logical / boolean, e.g. True, False
logical_val = True

# Character / string, e.g. "hello", 'goodbye' 
char_val = "You're in STAT 430 - FDL @ UIUC"

# Functions

In [15]:
print("Ssss, I'm a python!")

Ssss, I'm a python!

In [13]:
min(3, -2)

-2

In [18]:
# Space matters.
def add(x, y):
   z = x + y
   return z

add(1, 2)

3

# Conditionals

In [20]:
temp = -10
if temp < 32:
    print('It\'s so cold here. We should move to Flordia.')
else:
    print('Help, I\'m melting!')

It's so cold here. We should move to Flordia.

# For Loops

In [25]:
for i in range(1, 5): 
    print(i)

1
2
3
4

In [24]:
summed = 0 
for i in range(1, 5): 
    summed += i

print(f"Summation value: {summed}")

Summation value: 10